/*
 Copyright (C) 2020 Jan-Dirk van Dingenen
 
 This program is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.
 
 This program is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.
 
 You should have received a copy of the GNU General Public License
 along with this program.  If not, see <http://www.gnu.org/licenses/>.
*/

@import url('https://fonts.googleapis.com/css?family=Macondo|Macondo+Swash+Caps&display=swap');

::selection, button::selection {
background: transparent;
}
::-moz-selection, button::-moz-selection {
background: transparent;
}

*:not(input):not(textarea) {
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

html {
    font-family: 'Macondo Swash Caps', sans-serif;
    background-image: url(img/borderLine.jpg), url(img/borderLine.jpg), url(img/back.jpg);
    background-size: auto 3vh, auto 3vh, cover;
    background-color: #f1e2c5;
    background-repeat: repeat-x, repeat-x, no-repeat;
    background-blend-mode: darken;
    width: 100%;
    height: 100vh;
    background-position: top,bottom;
}

body {
    --iconSize: calc(var(--baseUnit) * 1);
    --round : 0;
}

#playerName {
    font-size: calc(var(--baseUnit) * 0.5);
    position: absolute;
    top: calc(var(--baseUnit) * 0.6);
    right: calc(var(--baseUnit) * 0.5);
    cursor: pointer;
    z-index:20;
}

#gameWrapper, #landing {
    opacity:0;
    pointer-events: none;
}

#game, #landing {
    position: absolute;
    width: calc(var(--baseUnit) *35);
    min-height: calc(var(--baseUnit) *19);
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: calc(var(--baseUnit) * 0.25);
    --copyBaseUnit: var(--baseUnit);
    font-size: calc(var(--baseUnit) * 0.4);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100vh;
}

#civs {
    display: flex;
    justify-content: center;
}

#myWonders {
    display: flex;
    justify-content: left;
    margin: calc(var(--baseUnit) * 0.3) 0;
}

#wonderMarket {
    display: flex;
    justify-content: right;
    margin: calc(var(--baseUnit) * 0.3) 0;
}

#wonders {
    display: flex;
    justify-content: space-between;
    width: calc(var(--baseUnit) *32);
    margin-left: calc(var(--baseUnit) * 1.25);
}

.card {
    width: calc(var(--baseUnit) *3);
    height: calc(var(--baseUnit) *4);
    background-size: contain;
    border-radius: calc(var(--baseUnit) * 0.15);
    box-sizing: border-box;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
    margin: 0 calc(var(--baseUnit) * 0.1);
    background-repeat: no-repeat;
    position: relative;
    top:0px;
    left:0px;
    transition: all 1s, filter 0ms;
    z-index: 10;
}

.wonder.card {
    background-image: url(img/wonders.jpg);
    background-size: calc(var(--baseUnit) * 45) calc(var(--baseUnit) * 4);
    background-position-x: calc(var(--baseUnit) * var(--wonderNum) * -3);
    z-index:9;
}

#civs .card {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-top: calc(var(--baseUnit) * 0.5);
}

#playArea {
    display: flex;
    justify-content: space-evenly;
}

#myCiv {
    position: relative;
    background-color: rgba(255, 215, 145, 0.9);
    padding: calc(var(--baseUnit) * 0.2);
    box-shadow: 1px 1px 2px rgba(0,0,0,0.5), inset 0 0 0.3vw #000000;
    border: double 0.3vw #b29165;
    width: calc(var(--baseUnit) * 4);
    height: calc(var(--baseUnit) * 6.5);
    --baseUnit: calc(var(--copyBaseUnit) * 1.39);
    background-image: url(img/back2.jpg);
    background-size:cover;
}

#modeMessage {
    position: absolute;
    text-align: center;
    width: calc(var(--baseUnit) * 4);
}

#myCivContainer {
    position:relative;
}

#myCivContainer .card:first-child {
    z-index: 4;
    position: absolute;
    left: 50%;
    transform: translate(-50%,0);
    top: calc(var(--baseUnit) * 0.5);
    margin: 0;
}

#myCivContainer .card:nth-child(2) {
    z-index: 3;
    position: absolute;
    left: 50%;
    transform: translate(-50%,0);
    top: calc(var(--baseUnit) * 1.4);
    margin: 0;
}

#myCivContainer .card:nth-child(3) {
    z-index: 2;
    position: absolute;
    left: 50%;
    transform: translate(-50%,0);
    top: calc(var(--baseUnit) * 2.3);
    margin: 0;
}

.bigAction .action.card {
    background-image: url(img/bigActions2.jpg);
    background-size: calc(var(--baseUnit) * 9) calc(var(--baseUnit) * 4.7);
    height: calc(var(--baseUnit) * 4.7);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.29);
}

#topActions {
    position: relative;
    z-index:0;
}

#actions, .scoreWrapper, .modalWrapper, .achWrapper {
    position: relative;
    display: inline-block;
    background-color: rgb(232, 229, 222);
    padding: calc(var(--baseUnit) * 0.2);
    box-shadow: 1px 1px 2px rgba(0,0,0,0.5), inset 0 0 0.3vw #000000;
    border: double 0.3vw #949494;
    background-image: url(img/back2.jpg);
    background-blend-mode: luminosity;
}

#bottomActions {
    display: inline-flex;
    justify-content: center;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.7);
    border-radius: 0 0 calc(var(--baseUnit) * 0.15) calc(var(--baseUnit) * 0.15);
}

.action.card {
    height: calc(var(--baseUnit) * 4.4);
    border-radius: unset;
    margin: 0;
    background-image: url(img/actions2.jpg);
    background-size: calc(var(--baseUnit) * 24) calc(var(--baseUnit) * 4.4);
    background-position-x: calc(var(--baseUnit) * var(--actionNum) * -3);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.29);
}

.bigAction {
    display: flex;
    position: relative;
    width: calc(var(--baseUnit) * 9);
    height: calc(var(--baseUnit) * 4.7);
    border-radius: calc(var(--baseUnit) * 0.15) calc(var(--baseUnit) * 0.15) 0 0;
    box-sizing: border-box;
    left: calc(var(--baseUnit) * var(--round) * 3);
    transition: left 1s;
    border-bottom: none;
    box-shadow: 1px -1px 1px 1px rgba(0,0,0,0.25);
}

#actions .action .workerBlock, #help .action .workerBlock {
    position: absolute;
    width: calc(var(--baseUnit) * 2.05);
    height: calc(var(--baseUnit) * 1.1);
    top: calc(var(--baseUnit) * 2.9);
    left: calc(var(--baseUnit) * 0.45);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#actions .action.action_9 .workerBlock {
    left: calc(var(--baseUnit) * 0.6);
}

#actions .action.action_11 .workerBlock {
    left: calc(var(--baseUnit) * 0.35);
}

.workerArea.changedWorkerArea {
    position: relative;
    width: calc(var(--baseUnit) * 1);
    height: calc(var(--baseUnit) * 1);
    background-image: url(img/workerAreas.png);
    background-size: calc(var(--baseUnit) * 4) calc(var(--baseUnit) * 1);
}

.workerArea.changedWorkerArea.sacrificeWorker {
    background-position-x: calc(var(--baseUnit) * -2);
}

.workerArea.changedWorkerArea.doubleWorker {
    background-position-x: calc(var(--baseUnit) * -1);
}

.workerArea.changedWorkerArea.sacrificDoubleWorker {
    background-position-x: calc(var(--baseUnit) * -3);
}

#actions .bigAction .workerBlock {
    top: calc(var(--baseUnit) * 3.0);
}

#leftBar {
    display: flex;
    position: absolute;
    top: calc(var(--baseUnit) * 6);
    left: calc(var(--baseUnit) * 2);
    transform: translate(calc(var(--baseUnit) * -22), -50%);
    height: calc(var(--baseUnit) * 10);
    transition: transform 0.5s;
    box-shadow: calc(var(--baseUnit) * 0.25) calc(var(--baseUnit) * 0.25) calc(var(--baseUnit) * 0.5) rgba(0,0,0,0.5);
    border-radius: 0 calc(var(--baseUnit) * 0.25) calc(var(--baseUnit) * 0.25) 0;
    border-top: solid 2px rgb(78, 101, 110);
    border-right: solid 2px rgb(78, 101, 110);
}

#leftBar.open {
    transform: translate(calc(var(--baseUnit) * -2), -50%);
}

#info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: calc(var(--baseUnit) * 2);
    height: 100%;
    margin: 0;
    background-color: #19354c;
    background-image: url(img/infobar.jpg);
    border-radius: 0 calc(var(--baseUnit) * 0.25) calc(var(--baseUnit) * 0.25) 0;
    --iconSize: calc(var(--baseUnit) * 0.75);
    cursor:pointer;
    opacity:1;
}

#science {
    background-image: url(img/techCard.jpg);
    background-size: cover;
    width: calc(var(--baseUnit) * 20);
    height: 100%;
    border-right: groove 3px #7ea5b5;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: calc(var(--baseUnit) * 6) calc(var(--baseUnit) * 6) calc(var(--baseUnit) * 6);
    grid-template-rows: auto auto auto;
    grid-gap: calc(var(--baseUnit) * 0.3);
    padding: calc(var(--baseUnit) * 0.5) calc(var(--baseUnit) * 0.65);
}

.tech {
    position: relative;
    background-color: rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 calc(var(--baseUnit) * 0.3) rgba(0, 0, 0, 0.3);
    cursor:default;
}

.tech.reachable, .modeGameover .tech {
    background-color: transparent;
    box-shadow:none;
    cursor:default;
}

.tech:hover, .tech:focus {
    background-color:transparent;
}

.modeScience .tech.reachable:hover, .modeScience .tech.reachable:focus {
    box-shadow: 0 0 calc(var(--baseUnit) * 0.5) #fff;
    background-color:rgba(255,255,255,0.2);
}

.modeScience .tech.reachable {
    cursor: pointer;
}

.tech .checkbox {
    position: absolute;
    width: calc(var(--baseUnit) * 1.3);
    height: calc(var(--baseUnit) * 1.3);
    top: calc(var(--baseUnit) * 1.1);
    left: calc(var(--baseUnit) * 0.35);
    color: #00cc00;    
    font-size: calc(var(--baseUnit) * 2);
    text-align: center;
    line-height: calc(var(--baseUnit) * 1);
    font-weight: bold;
    text-shadow: 1px 1px 3px green, 1px 1px 3px green, 1px 1px 3px green;
    transform: rotate(15deg);
    display: none;
}

.tech.known .checkbox {
    display:block;
}

.tech.scienceExtraCost:after {
    color: #fff;
    position: absolute;
    width: calc(var(--baseUnit) * 1.3);
    height: calc(var(--baseUnit) * 1.3);
    top: calc(var(--baseUnit) * 1.1);
    left: calc(var(--baseUnit) * 0.35);
    text-align: center;
    line-height: calc(var(--baseUnit) * 1.3);
    font-size: calc(var(--baseUnit) * 1);
    pointer-events: none;
    text-shadow: 1px 1px 1px #99c6db;
}

.tech.scienceCost_1.scienceExtraCost:after {content: "$1";}
.tech.scienceCost_2.scienceExtraCost:after {content: "$2";}
.tech.scienceCost_3.scienceExtraCost:after {content: "$3";}
.tech.scienceCost_4.scienceExtraCost:after {content: "$4";}

.infoBlock {
    display: flex;
    justify-content: space-around;
    padding: 0 calc(var(--baseUnit) * 0.1);
}

.infoValue {
    position:relative;
    height: var(--iconSize);
    line-height: var(--iconSize);
    font-size: calc(var(--iconSize) * 0.65);
    text-align: right;
    width: var(--iconSize);
    color: rgba(79, 167, 255, 1);
    text-shadow: 0 0 1px rgb(126, 190, 255);
}

.icon {
    position:relative;
    top:0px;
    left:0px;
    height: var(--iconSize);
    width: var(--iconSize);
    background-image: url(img/icons.png);
    background-size: calc(var(--iconSize) * 7) var(--iconSize);   
    transition: all 1s;    
}

.infoValue .icon {
    position:absolute;
    top:0px;
    left:0px;
    z-index: 10;
}

#info .icon {
    filter: drop-shadow(0 0 1px rgba(79, 167, 255, 0.75)) drop-shadow(0 0 1px rgba(79, 167, 255, 0.75)) drop-shadow(0 0 1px rgba(79, 167, 255, 0.75));
}

.icon_coins {background-position-x: calc(var(--iconSize) * -1);}
.icon_shield {background-position-x: calc(var(--iconSize) * -2);}
.icon_worker {background-position-x: calc(var(--iconSize) * -3);}
.icon_wonder {background-position-x: calc(var(--iconSize) * -4);}
.icon_science {background-position-x: calc(var(--iconSize) * -5);}
.icon_war {background-position-x: calc(var(--iconSize) * -6);}
.icon_opponent {
    background-image: url(img/icons.png), url(img/icons.png);
    background-position-x: calc(var(--iconSize) * -6), calc(var(--iconSize) * -2);
}

.workerArea .icon {
    position: absolute;
    top: calc(var(--iconSize) * -0.5 + var(--baseUnit) * 0.5);
    left: calc(var(--iconSize) * -0.5 + var(--baseUnit) * 0.5);
    filter: drop-shadow(1px 1px 1px #303030) drop-shadow(1px 1px 1px #101010) drop-shadow(1px 1px 1px #0005);
    opacity:1;    
}

.civ .workerArea:not(.changedWorkerArea) .icon {
    left: 50%;
}

.card .icon {
    position: absolute;
}

.actionGain1, .actionGain2 {
    width: calc(var(--baseUnit) * 2.2);
    height: calc(var(--baseUnit) * 0.4);
    position: absolute;
    top: calc(var(--baseUnit) * 2.1);
    left: calc(var(--baseUnit) * 0.4);
    display: flex;
    justify-content: center;
    pointer-events:none;
    flex-wrap: wrap;
}

.actionGain1 .icon, .actionGain2 .icon {
    --iconSize: calc(var(--baseUnit) * 0.3);
    display: inline-block;
    position: relative;
    height: var(--iconSize);
    width: var(--iconSize);
    margin-top: calc(var(--baseUnit) * 0.05);
}

.action_3 .actionGain1 {
    top: calc(var(--baseUnit) * 2.45);
}

.action_4 .actionGain1 {
    top: calc(var(--baseUnit) * 1.75);
}

.action_4 .actionGain2 {
    top: calc(var(--baseUnit) * 2.43);
}

.action_4 .actionGain1 .icon {
    --iconSize: calc(var(--baseUnit) * 0.25);
}

.action_9 .actionGain1 {
    top: calc(var(--baseUnit) * 1.9);
    width: calc(var(--baseUnit) * 2.4);
}

.action_10 .actionGain1 {
    top: calc(var(--baseUnit) * 1.9);
    left: calc(var(--baseUnit) * 0.3);
    width: calc(var(--baseUnit) * 2.4);
}

.card.action .icon.actionGain1, .card .icon.actionGain2  {
    position: relative;
    --iconSize: calc(var(--baseUnit) * 0.3);    
}

.workerArea.changedWorkerArea:after {
    display: inline-block;
    width: calc(var(--baseUnit) * 1);
    height: calc(var(--baseUnit) * 1);
    color: #303030;
    text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5), 1px 1px 1px rgba(255, 255, 255, 0.5);
    line-height: calc(var(--baseUnit) * 1.05);
    text-align: center;
    pointer-events: none;
    font-size: calc(var(--baseUnit) * 0.4);
}

.workerArea.changedWorkerArea.sacrificDoubleWorker:after {
    width: calc(var(--baseUnit) * 0.7);
}

.workerArea.changedWorkerArea.doubleWorker:after {
    width: calc(var(--baseUnit) * 0.8);
}

 .workerArea.workerCost_1:after {content: "$1";}
 .workerArea.workerCost_2:after {content: "$2";}
 .workerArea.workerCost_3:after {content: "$3";}
 .workerArea.workerCost_4:after {content: "$4";}
 .workerArea.workerCost_5:after {content: "$5";}
 .workerArea.workerCost_6:after {content: "$6";}
 .workerArea.workerCost_7:after {content: "$7";}

.card .icon.iconOnCiv {
    position: relative;
    --iconSize: calc(var(--baseUnit) * 0.5);
    margin-top: calc(var(--baseUnit) * -0.3);
    pointer-events:none;
}

.civ .workerArea.mainWorkerArea:not(.changedWorkerArea) {
    position: absolute;
    width: calc(var(--baseUnit) * 2.2);
    height: calc(var(--baseUnit) * 0.8);
    top: calc(var(--baseUnit) * 1.5);
    left: calc(var(--baseUnit) * 0.8);
}

.civ.card.workareas_2 .workerAreaLoc_0 {
    top: calc(var(--baseUnit) * 1.35);
}

.civ.card.workareas_2 .workerAreaLoc_1 {
    top: calc(var(--baseUnit) * 2.4);
}

.civ.card .workerArea.legacyWorkerArea.workerAreaLoc_0:not(.changedWorkerArea) {
    position: absolute;
    width: calc(var(--baseUnit) * 3);
    height: calc(var(--baseUnit) * 0.8);
    bottom: calc(var(--baseUnit) * 0);
    left: calc(var(--baseUnit) * 0);
    top: unset;
}

.civ.civ_2 .workerArea_1.changedWorkerArea {
    position: absolute;
    top: calc(var(--baseUnit) * 1.57);
    left: calc(var(--baseUnit) * 1.76);
    transform: scale(0.85);
}

.civ.civ_11 .workerArea_8.changedWorkerArea {
    position: absolute;
    top: calc(var(--baseUnit) * 3.2);
    left: calc(var(--baseUnit) * 1.45);
    transform: scale(0.85);
}

.civ.civ_22 .workerArea_2.changedWorkerArea {
    position: absolute;
    top: calc(var(--baseUnit) * 1.57);
    left: calc(var(--baseUnit) * 1.7);
    transform: scale(0.85);
}

.civ.civ_27 .workerArea_2.changedWorkerArea {
    position: absolute;
    top: calc(var(--baseUnit) * 3.15);
    left: calc(var(--baseUnit) * 1.5);
    transform: scale(0.85);
}

.civ.civ_37 .workerArea_2.changedWorkerArea {
    position: absolute;
    top: calc(var(--baseUnit) * 3.2);
    left: calc(var(--baseUnit) * 1.5);
    transform: scale(0.85);
}

.civ.civ_53 .workerArea_2.changedWorkerArea {
    position: absolute;
    top: calc(var(--baseUnit) * 3.2);
    left: calc(var(--baseUnit) * 1.5);
    transform: scale(0.85);
}

.civ.civ_40 .workerArea_2.changedWorkerArea {
    position: absolute;
    top: calc(var(--baseUnit) * 2.17);
    left: calc(var(--baseUnit) * 1.7);
    transform: scale(0.85);
}

.civ.civ_40 .workerArea_8.changedWorkerArea {
    position: absolute;
    top: calc(var(--baseUnit) * 3.17);
    left: calc(var(--baseUnit) * 1.45);
    transform: scale(0.85);
}

.civ.civ_51 .workerArea_2.changedWorkerArea {
    position: absolute;
    top: calc(var(--baseUnit) * 3.15);
    left: calc(var(--baseUnit) * 1.5);
    transform: scale(0.85);
}

.civ.civ_56 .workerArea_9 {
    position: absolute;
    top: calc(var(--baseUnit) * 3.15);
    left: calc(var(--baseUnit) * 1.6);
    transform: scale(0.85);
}

#messageBox {
    position: absolute;
    width: calc(var(--baseUnit) * 9);
    height: calc(var(--baseUnit) *4);
    text-align: center;
    margin: calc(var(--baseUnit) * 0.3) calc(var(--baseUnit) * 1);
    background-color: rgba(230, 194, 132, 0.9);
    padding: calc(var(--baseUnit) * 0.4);
    box-shadow: 1px 1px 2px rgba(0,0,0,0.5), inset 0 0 0.3vw #000000;
    border: double 0.3vw #b29165;
    box-sizing: border-box;
    z-index: -1;
    left: 42.5%;
    transform: translate(-50%,0);
    opacity:0;   
    transition: all 250ms;
    background-image: url(img/back2.jpg);
}

.hasWonders #messageBox {
    left: 50%;
}

#messageButtons {
    display: flex;
    justify-content: space-around;
    margin-top: calc(var(--baseUnit) * 0.5);
}

button {
    cursor: pointer;
    font-family: 'Macondo Swash Caps', sans-serif;
    background-image: url(img/scrollButton.png);
    background-size: 100% auto;
    background-position: bottom;
    min-width: calc(var(--baseUnit) * 2.25);
    line-height: calc(var(--baseUnit) * 0.7);
    box-sizing: border-box;
    font-size: calc(var(--baseUnit) * 0.35);
    padding: calc(var(--baseUnit) * 0.1) calc(var(--baseUnit) * 0.3) calc(var(--baseUnit) * 0.5) calc(var(--baseUnit) * 0.3);
    color: rgba(0, 0, 0, 0.9);
    background-color: transparent;
    border: none;
    border-radius: calc(var(--baseUnit) * 0.2) calc(var(--baseUnit) * 0.2) 0 0;
    filter: drop-shadow(0px 1px 2px #4f2007);
    outline:none;
    transition: all 0.25s;
}

button:hover, button:focus {
    filter: drop-shadow(0px 3px 6px #4f2007) brightness(1.15);
}

button#endTurn {
    position: absolute;
    right: 0;
    cursor: pointer;
    display:none;
}

button .icon, #messageText > .icon {
    --iconSize: calc(var(--baseUnit) * 0.5);
    display: inline-block;
    height: var(--iconSize);
    width: var(--iconSize);
    vertical-align: top;
    margin: 0 calc(var(--baseUnit) * 0.05);
}

.modeWorkers button#endTurn {
    display:block;
}

.card.disabled {
    filter: grayscale(1) brightness(0.6);
}

.hasActionEvent {
    cursor:pointer;    
    background-color:#fff1;
}

#civs .civ.card:after {    
    content: "";
    position: absolute;
    width: calc(var( --baseUnit) *3);
    height: calc(var( --baseUnit) *4);
    background-size: contain;
    border-radius: calc(var( --baseUnit) * 0.15);
    box-sizing: border-box;
    box-shadow: calc(var(--baseUnit) * 0.15) calc(var(--baseUnit) * 0.15) calc(var(--baseUnit) * 0.3) rgba(0, 0, 0, 0.7);
    background-repeat: no-repeat;
    transition: all 0.5s, opacity 0ms;
    z-index: 15;
    transform: scale(1) translate(0,0%);
    right: 0;
    top: 0;
    background-image: inherit;
    pointer-events: none;
    opacity: 0;
    transition: all 0.5s, filter 0ms;
}

.card.wonder:after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    width: calc(var(--baseUnit) *3);
    height: calc(var(--baseUnit) *4);
    background-image: url(img/wonders.jpg);
    background-size: calc(var(--baseUnit) * 45) calc(var(--baseUnit) * 4);
    background-position-x: calc(var(--baseUnit) * var(--wonderNum) * -3);
    z-index: 100;
    pointer-events: none;
    border-radius: calc(var(--baseUnit) * 0.15);
    box-sizing: border-box;
    box-shadow: calc(var(--baseUnit) * 0.15) calc(var(--baseUnit) * 0.15) calc(var(--baseUnit) * 0.3) rgba(0, 0, 0, 0.7);
    opacity: 0;
    transition: all 0.5s, filter 0ms;
}

#myWonders .card.wonder:after {
    right: unset;
    left:0;
}

.card.enlarge:after {
    --baseUnit: calc(var(--copyBaseUnit) * 2);
    opacity: 1 !important;
}

body.largerCivs #civs .civ.card:hover:after, #civs .civ.card:focus:after {
    opacity:1;
    transform: scale(1.5) translate(-19%,17%);
    box-shadow: calc(var(--baseUnit) * 0.2) calc(var(--baseUnit) * 0.3) calc(var(--baseUnit) * 0.5) rgba(0, 0, 0, 0.7);
}

.card {
    filter:brightness(0.75);
}

.card.action_2 {
    filter: brightness(0.675);
}

#myCiv .card {
    filter:brightness(1);
}

.card:hover, 
.card:focus,
.modeWonder .card.wonder,
.modeRise #civs .card.civ, 
.modeAnnex #civs .card.civ,
.modeWorkers .card.action:not(.disabled) {    
    filter:brightness(1);
}

.modeWonder .card.wonder,
.modeRise #civs .card.civ, 
.modeAnnex #civs .card.civ,
.modeWorkers .card.action:not(.disabled) {    
    cursor:pointer;
}

.modeWonder .card.wonder:hover,
.modeWonder .card.wonder:focus,
.modeRise #civs .card.civ:hover, 
.modeRise #civs .card.civ:focus, 
.modeAnnex #civs .card.civ:hover,
.modeAnnex #civs .card.civ:focus,
.modeWorkers .card.action:not(.disabled):hover, 
.modeWorkers .card.action:not(.disabled):focus {
    filter: brightness(1.2);
    z-index:16;
}

.modeGameover .card {
    filter:brightness(1) !important;
}

#toastContainer {
    --copyBaseUnit: var(--baseUnit);
    position: absolute;
    top: 0;
    left: calc(50% - var(--baseUnit) * 2.5);
    z-index: 20;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 90vh;
    overflow-y:hidden;
}

.toast {
    cursor:pointer;
    width: calc(var(--baseUnit) * 5);
    text-align: center;
    padding: calc(var(--baseUnit) * 0.4) calc(var(--baseUnit) * 0.2);
    border-radius: calc(var(--baseUnit) * 0.1);
    margin-top: calc(var(--baseUnit) * 0.2);
    box-shadow: 1px 1px 2px rgba(0,0,0,0.5), inset 0 0 0.3vw #000000;
    border: double 0.3vw #b29165;
    --baseUnit: calc(var(--copyBaseUnit) * 1.39);
    background-image: url(img/back2.jpg);
    background-blend-mode: multiply;
    transition: all 250ms;
}

.toast_error {
    background-color: #ff8a8a;
    color: hsl(12, 100%, 86%);
    font-weight: bold;
    text-shadow: 1px 1px 1px #3b0000;
}

.toast_info {
    background-color: #baffb9;
    color: rgb(42, 72, 37);
}

.toast_warning {
    background-color: #fffb84;
    color: rgb(72, 57, 37);
}

.toast_achievement {
    background-color: #ffc126;
    text-shadow: 1px 1px 1px #000;
    color: #fff;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.5), inset 0 0 0.3vw #000000, 0 0 1px #fbc02b, 0 0 2px #fbc02b, 0 0 3px #fbc02b, 0 0 4px #fbc02b, 0 0 5px 1px #fbc02b;
}

.toast .icon {
    display: inline-block;
    vertical-align: text-bottom;
    --iconSize: calc(var(--baseUnit) * 0.5);
}

button.reload {
    background-image: url(img/scrollButton2.png);
    background-repeat: no-repeat;
    background-position: center;
    padding: calc(var(--baseUnit) * 0.5) calc(var(--baseUnit) * 1);
    box-sizing: content-box;
    font-size: calc(var(--baseUnit) * 0.5);
}

.warMessage {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    margin-bottom: calc(var(--baseUnit) * 0.2);
    grid-gap: calc(var(--baseUnit) * 0.2);
}

.warMessage .icon {
    --iconSize: calc(var(--baseUnit) * 0.4) !important;
}

.icon.largeIcon {
    --iconSize: calc(var(--baseUnit) * 1) !important;
    color: #ffe89e;
    text-align: center;
    line-height: calc(var(--baseUnit) * 1);
    font-size: calc(var(--baseUnit) * 0.5);
}

.warMessage > div {
    display: flex;
    justify-content: center;
    align-items: center;
}

span.warMessageTitle {
    font-size: calc(var(--baseUnit) * 0.4);
}

.warMessage .icon_war {
    animation: flip 2s infinite;
}

.plagueMessage img {
    width: calc(var(--baseUnit) * 0.75);
}

.toast .plagueTitle, .toast .warTitle {
    font-size: calc(var(--baseUnit) * 0.5);
}

.fadeIn {
    animation: fadein 1s both;
    pointer-events: all !important;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@keyframes flip {
    0% { transform: scaleX(1); }
    50%   { transform: scaleX(-1); }
    100% { transform: scaleX(1); }
}

/* ----------------------------------------------------- */

#landing {
    display: flex;
    --civScoreUnit: calc(var(--baseUnit) * 0.5);
    justify-content: center;
    align-items: center;
    position: absolute;
}

#scores {
    margin-top: calc(var(--baseUnit) * 1);
    display: flex;
    justify-content: space-around;
}

#civScores .scoreWrapper, .scoreWrapper {
    box-sizing: border-box;
    padding: calc(var(--baseUnit) * 0.3);
}

.scoreTitle {
    text-align: center;
    font-size: calc(var(--baseUnit) * 0.5);
    color: #463427;
    position: relative;
    top: calc(var(--baseUnit) * 0.45);
    z-index: 1;
    background-color: rgb(232, 229, 222);
    padding: calc(var(--baseUnit) * 0.2);
    box-shadow: 2px 2px 6px rgba(0,0,0,0.5), inset 0 0 0.3vw #000000;
    border: double 0.3vw #949494;
    background-image: url(img/back2.jpg);
    background-blend-mode: luminosity;
    display: inline-block;
    left: 50%;
    transform: translate(-50%,0);
    background-position: top center;
    text-shadow: 1px 1px 3px rgba(255, 255, 255, 0.5);
}

.scoreWrapper {
    width: 100%;
    overflow-y: auto;
    height: calc(100vh - var(--baseUnit) * 4);
}

#civScores .scoreWrapper {
    background-position: top center;
}

.scoreRow {
    display: grid;
    line-height: calc(var(--civScoreUnit) * 1.25);
    justify-content: space-between;
    font-size: calc(var(--civScoreUnit) * 0.8);
    margin-top: calc(var(--civScoreUnit) * 0.2);
    color: #5b5a56;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.36);
    grid-template-columns: auto auto auto;
    padding: 0 calc(var(--civScoreUnit) * 0.5);
}

.scoreWrapper .scoreName {
    width: calc(var(--civScoreUnit) * 2);
    text-align: left;
    white-space: nowrap;
}

.scoreRow:first-child {
    font-weight: bold;
    color: #000;
    font-size: calc(var(--civScoreUnit) * 0.9);
}

.civScoreImage {
    width: calc(var(--civScoreUnit) * 1.25);
    height: calc(var(--civScoreUnit) * 1.25);
    border-radius: 100%;
    background-size: calc(var(--civScoreUnit) * 3.75);
    background-repeat: no-repeat;
    background-position: calc(var(--civScoreUnit) * -0.44) calc(var(--civScoreUnit) * -0.2);
    border: solid 1px;
}

.scoreCivContainer .civScoreImage {
    display: inline-block;
    margin-left: calc(var(--civScoreUnit) * 0.2);
}

.shortScoreList .scoreWrapper {
    height: calc(var(--baseUnit) * 5.8);
}

#civScores .scoreScore {
    width: calc(var(--civScoreUnit) * 2);
    text-align: right;
}

#menuBlocks {
    display: flex;
    width: calc(var(--baseUnit) *35);
    justify-content: space-evenly;
    align-items: flex-end;
}

#menuImage {
    background-image: url(img/aocBoxBlock.png);
    background-size: contain, cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    opacity: 0.9;
    filter: drop-shadow(calc(var(--baseUnit) * 0.4) calc(var(--baseUnit) * 0.4) calc(var(--baseUnit) * 0.5) black);
    width: calc(var(--baseUnit) * 12);
    height: calc(var(--baseUnit) * 8);
}

#menu {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}

#menu button {
    font-size: calc(var(--baseUnit) * 0.7);
    padding: calc(var(--baseUnit) * 1);
    background-image: url(img/scrollButton2.png);
    background-repeat: no-repeat;
    background-position: center;
    display: block;
}

button#startGame {
    font-size: calc(var(--baseUnit) * 0.8);
}

#menu a {
    text-decoration: none;
}

.scoringBlock {
    position: relative;
}

.largeScoreList {
    position: absolute;
    bottom: calc(var(--baseUnit) * 3.5);
    height: 68vh;
    width: 100%;
    z-index: 2;
    left: 0;
    display: none;
}

#menuBlocks .scoreTitle {
    cursor:pointer;

}

#menuBlocks .scoreTitle:hover {
    filter: brightness(1.2);
}

#achievementModal, #help {
    display: none;
    position: absolute;
    height: calc(100vh - var(--baseUnit) * 4);
    width: calc(var(--baseUnit) * 20);
    top: 50%;
    left: 50%;
    z-index: 5;
    transform: translate(-50%,-50%);
}

.modalWrapper {
    width: 100%;
    height: calc(100vh - var(--baseUnit) * 4);
    display: flex;
    justify-content: space-evenly;
}

#myScores .scoreWrapper {
    width: calc(var(--baseUnit) * 6);
    height: calc(100vh - var(--baseUnit) * 5.5);
    margin-top: calc(var(--baseUnit) * 1);
}

#myScores .scoreTitle, #achievementList .scoreTitle  {
    position: absolute;
    top: calc(var(--baseUnit) * 0.25);
    white-space: nowrap;
}

.scoreWrapper::-webkit-scrollbar, #help #modalContent::-webkit-scrollbar {
    width: calc(var(--baseUnit) * 0.1);
}
.scoreWrapper::-webkit-scrollbar-thumb, #help #modalContent::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 calc(var(--baseUnit) * 0.1) #000000;
    background-color: rgb(204, 194, 179);
}

.closeModal {
    position: absolute;
    font-family: monospace;
    font-size: calc(var(--baseUnit) * 0.7);
    top: calc(var(--baseUnit) * 0.1);
    right: calc(var(--baseUnit) * 0.2);
    padding: 0 calc(var(--baseUnit) * 0.2);
    border: outset calc(var(--baseUnit) * 0.075);
    cursor: pointer;
    opacity: 0.9;
    transition: all 0.5s;
    background-color: rgba(232, 229, 222, 0.5);
    text-shadow: -1px -1px 1px #fffdf7;
    z-index:10;
}

.closeModal:hover {
    color:#fff;
    text-shadow: 1px 1px 1px #313131;
}

#achievementList {
    width: calc(var(--baseUnit) * 13);
    position: relative;
}

.achWrapper {
    height: calc(100vh - var(--baseUnit) * 6.42);
    margin-top: calc(var(--baseUnit) * 1);
    display: grid;
    grid-template-columns: calc(var(--baseUnit) * 1) auto auto calc(var(--baseUnit) * 2.5);
    grid-gap: calc(var(--baseUnit) * 0.25);
    padding-top: calc(var(--baseUnit) * 0.5);
}

.achDone, .achOpen {
    height: calc(var(--baseUnit) * 1);
    position: relative;
}

.achDone:after {
    content: "";
    width: var(--starUnit);
    height: var(--starUnit);
    background-image: url(img/icons.png);
    background-size: calc(var(--starUnit) * 7) var(--starUnit);
    position: absolute;
    top: calc(var(--baseUnit) * -0.15);
    --starUnit: calc(var(--baseUnit) * 0.75);
    filter: drop-shadow(0 0 calc(var(--starUnit) * 0.15) #06fb72) hue-rotate(270deg) brightness(2);
}

.gridHead {
    text-decoration: underline;
    text-shadow: 1px 1px 1px #f0f0f0;
}

.achName {
    font-size: calc(var(--baseUnit) * 0.45);
}

.achReq {
    font-size: calc(var(--baseUnit) * 0.35);
    font-family: 'Macondo', sans-serif;
}

.achWhen {
    font-size: calc(var(--baseUnit) * 0.35);
    text-align: right;
    padding-right: calc(var(--baseUnit) * 0.2);
    font-family: 'Macondo', sans-serif;
}

#unofficialCivs {
    position: absolute;
    bottom: calc(var(--baseUnit) * -1);
    right: calc(var(--baseUnit) * -2.9);
    font-size: calc(var(--baseUnit) * 0.55);
}

input#unofficial {
    width: calc(var(--baseUnit) * 0.5);
    height: calc(var(--baseUnit) * 0.5);
    margin-right: calc(var(--baseUnit) * 0.2);
    vertical-align: middle;
}

.hideAdditional .usedAdditional {
    display:none;
}

.scoreTitle {
    width: calc(var(--baseUnit) * 5.5);
}

.sortCivArrow {
    position: absolute;
    cursor: pointer;
    right: calc(var(--baseUnit) * -2);
    bottom: calc(var(--baseUnit) * 0.4);
    text-decoration: underline;
    transition: all 0.5s;
    text-shadow:0 0 0 transparent;
}

.sortCivArrow:hover {
    text-shadow:0 0 calc(var(--baseUnit) * 0.4) #fff;
    color:#404040;
}

#shortCivScores .scoreScore, #civScores.scoreScore {
    width: calc(var(--civScoreUnit) * 3);
    text-align: right;
}

.shortScoreList .scoreWrapper {
    overflow: hidden;
}

.shortScoreList .scoreRow {
    height: calc(var(--civScoreUnit) * 1.9);
}



#help {
    display:none;
    width: calc(var(--baseUnit) * 25);
    --iconSize: calc(var(--baseUnit) * 0.5);
    color: rgb(0, 0, 0);
    font-family: 'Macondo', sans-serif;
}

#help .modalWrapper {
    border: double 0.3vw #b29165;
    background-blend-mode: unset;
    padding: 0;
    opacity: 1;
    color: #000000;
}

#help #modalContent {
    overflow-y: auto;
    padding: calc(var(--baseUnit) * 0.2);
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-variant: all-petite-caps;
}

#help li {
    height: calc(var(--baseUnit) * 0.65);
}

#help .actionSlotExplanation li {
    height: calc(var(--baseUnit) * 1);
}

#help .card {
    filter: brightness(1);
    --baseUnit: calc(var(--copyBaseUnit) * 1.4);
}

#help .cardExplanation {
    position: relative;
}

#help .actionSlotExplanation .workerArea {
    display: inline-block;
    vertical-align: text-bottom;
}

#modalContent > .helpBlock:last-child {
    grid-column: span 2;
}

.cardArrowWrapper {
    position: absolute;
    left: 0;
    display: flex;
    justify-content: start;
    z-index:11;
}

.cardArrow {
    height: calc(var(--baseUnit) * 0.1);
    background-color: rgba(255, 255, 255, 0.9);
    margin-top: calc(var(--baseUnit) * 0.2);
    border-radius: 0 0 100% 0;
}

.cardArrow:after {
    content: "_";
    position: absolute;
    left: calc(var(--baseUnit) * 0.05);
    border: solid rgba(255, 255, 255, 0.9);
    border-width: 0 calc(var(--baseUnit) * 0.1) calc(var(--baseUnit) * 0.1) 0;
    display: inline-block;
    padding: calc(var(--baseUnit) * 0.0);
    vertical-align: middle;
    transform: rotate(135deg);
    top: calc(var(--baseUnit) * 0.12);
    height: calc(var(--baseUnit) * 0.2);
    color: transparent;
}

.cardArrowText {
    position: relative;
    padding-left: calc(var(--baseUnit) * 0.2);
}

.cardArrowText.arrowTextBottom {
    transform: translate(0,calc(-100% + calc(var(--baseUnit) * 0.3)));
}

.cardArrowWrapper:hover {
    color: #fff;
}

.cardArrowWrapper:hover .cardArrow:after {
   border-color: #f00;
}

.cardArrowWrapper:hover .cardArrow {
    background-color: #f00;
}

.helpBlock {
    box-sizing: border-box;
    margin: calc(var(--baseUnit) * 0.1);
    border-radius: calc(var(--baseUnit) * 0.1);
    border: solid 1px rgba(0, 0, 0, 0.5);
    padding-top: calc(var(--baseUnit) * 0.2);
}

.helpBlockTitle {
    text-align: center;
    font-size: calc(var(--baseUnit) * 0.5);
    text-decoration: underline;
    font-family: 'Macondo Swash Caps', sans-serif;
    text-decoration-color: #bb7f41;
}

.helpBlockText {
    padding: calc(var(--baseUnit) * 0.2);
}

.helpVid {
    display: inline-flex;
    border: double 0.3vw #b29165;
    height: min-content;
    background-color: rgba(255, 215, 145, 0.9);
    padding: 5px;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.5), inset 0 0 0.3vw #000000;
    justify-content: center;
    background-image: url(img/back2.jpg);
    background-blend-mode: luminosity;
}

#help .icon {
    display: inline-block;    
    vertical-align: text-bottom;
}
#help li .icon {
    margin-right: calc(var(--baseUnit) * 0.2);
}


#help .card.action {
    --baseUnit: calc(var(--copyBaseUnit) * 1.3);
    border-radius: calc(var(--baseUnit) * 0.1);
}

#help .helpBlockText a {
    color: #000;
    transition:all 0.5s;
}

#help .helpBlockText a:hover {
    color: #fff;
    text-shadow:0 0 calc(var(--baseUnit) * 0.25) #000;
}

#help #civBrowser {
    display: flex;
    justify-content: space-between;
    width: calc(var(--baseUnit) * 24);
}

#help .civBrowserPanel {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
}

#help .civBrowserPanel .card {
    display: inline-block;
    transition: all 0.5s;
    --baseUnit: calc(var(--copyBaseUnit) * 2);
    vertical-align: middle;
}

#help .civBrowserButton {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: calc(var(--baseUnit) * 1.5);
    padding: 0 calc(var(--baseUnit) * 0.15);
    cursor: pointer;
    box-sizing: border-box;
    border: double 0.3vw #b29165;
    opacity: 1;
    color: #ffe1b1;
    background-color: #e1c89e;
    filter: hue-rotate(1795deg);
    background-image: url(img/back.jpg);
    background-blend-mode: multiply;
    font-family: sans-serif;
    transition:all 0.25s;
}

#help .civBrowserButton:hover {
    color: #fff;
    text-shadow:0 0 calc(var(--baseUnit) * 0.25) #fff;
}

#help .civBrowserButton.civBrowseLeft {
    border-radius: calc(var(--baseUnit) * 0.5) 0 0 calc(var(--baseUnit) * 0.5);
}

#help .civBrowserButton.civBrowseRight {
    border-radius: 0 calc(var(--baseUnit) * 0.5) calc(var(--baseUnit) * 0.5) 0;
}


.card.civ.unofficial:after {
    content: "Unofficial";
    position: absolute;
    color: goldenrod;
    padding: 3px;
    background-color: hsla(0, 100%, 1%, 0.8);
    right: 0;
    border-radius: 3px;
    border: solid 1px goldenrod;
    border-top: 0;
    border-right: 0;
}

.typeCivArrow {
    position: absolute;
    cursor: pointer;
    right: calc(var(--baseUnit) * -2);
    bottom: calc(var(--baseUnit) * 0.4);
    text-decoration: underline;
    transition: all 0.5s;
    text-shadow: 0 0 0 transparent;
}

.typeCivArrow:hover {
    text-shadow:0 0 calc(var(--baseUnit) * 0.4) #fff;
    color:#404040;
}

.visible {
    display:block !important;
}

.hidden {
    display:none !important;
}

#others {
    position: absolute;
    top: 3px;
    left: 10px;
    font-size: 80%;
    font-family: Verdana, sans-serif;
    font-size: 12px;
    z-index: 10000;
}

#others a {
    color: #ffe5b4;
}

#others a:hover {
    color: #fff;
}
